#back{
    height: 650px;
    margin-left: 5%;
    margin-right: 5%;
  }

@media (max-width:800px){
    #back{
        height: 550px;
        margin-left: 5%;
        margin-right: 5%;
      } 
}
@media (max-width:600px){
    #back{
        height: 550px;
        margin-left: 25%;
       
      }
      
      

      form{
        width: 90%;
      }
}